<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="touchpad">
      <ion-icon name="square"></ion-icon>
      <ion-label>Touchpad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="keyboard">
      <ion-icon name="custom-keyboard"></ion-icon>
      <ion-label>Keyboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="files">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Files</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
